<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('./partials/css') %>
</head>

<body>

    <% if (locals.message) { %>
        <div class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
            <%= locals.message %>
        </div>
        <% } %>

            <h1>Login</h1>

            <form class="row g-3" method="post" action="/users/login">
                <!-- email -->
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" required>
                </div>

                <!-- password -->
                <div class="row-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" name="password" required>
                </div>

                <!-- signin -->
                <div class="row-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>

                <p>Dont have an Account? <a href="/users/signup">Signup</a> </p>

            </form>


            <%- include('./partials/script') %>
</body>

</html>