<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <%- include('./partials/css') %>
    <style>
        a{
            text-decoration: none;
            color: white;
        }

    </style>
</head>
<body>
    <% if (locals.user) { %>
        <h2>Profile of <%= locals.user.name %>!</h2>
    <% } %>

    <button type="button" class="btn btn-secondary">
        <a href="/user/logout">Logout</a>
    </button>

    <%- include('./partials/script') %>
    <script src="https://kit.fontawesome.com/f0606bcd7a.js" crossorigin="anonymous"></script>
</body>
</html>